htlm {
    background-color: white;
}

h1 {
    background-color: blue;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    width: 33%;

    box-sizing: border-box;

}

.float_left { float: left;

}

p1 {
    float: right;
    margin-bottom: 200px;
}

.p2 {
    float: left;
    position: absolute;
    
    text-align: left;
  
}
.p3 {
    position: relative;
    height: 400px;
    text-align: center;
    left: 14%;
    
    
}  
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}  

li {
   
    text-align: end;
    background-color: aqua;
    bottom: 15px;
    position: relative;
}

.line {
    position: absolute;
    background-color: gray;
    height: 2%;
    width: 80%;
   
   
}
#message {
    height: 50%;
}